body {
    width: 960px;
    height: 25000000px;
    margin: auto;
    padding-bottom: 50px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 12px;
    font-family: arial;
    text-align: center;
    color: #ebebeb;
    background-color: #777;
}

h1{
    font-size: .5px;
}

p{
    text-align: center;
    font-size: 18px;
}

#aside{
    padding-top: 25px;
    text-align: center;
    font-size: 18px;
}

header {
    height: 100px;
    margin: auto;
    margin-top: 10px;
    width: 960px;
    padding: 0px;
    color: #777;
    text-align: center;
    background: #ebebeb;
}

nav {
    height: 75px;
    line-break: auto;
    margin-top: 10px;
    padding-top: 25px;
    border: 1px, black;
    color: #777;
    background: #ebebeb;
}

.article{
    margin: 10px;
    height: 225px;
    padding-top: 10px;
    margin-bottom: -200px;
    background-color: #777;
    color: #ebebeb;
}

#Box1{
    height: 60px;
    padding-top: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background: #ebebeb;
    color: #777;
}

#Box2{
    height: 60px;
    padding-top: 5px;
    border: 1px, black;
    background: #ebebeb;
    color: #777;
}

#section-left{
    width: 540px;
    height: 300px;
    background-color: #ebebeb;
    color: #777;
    float: left;
}

#section-right{
    margin: auto;
    width: 42%;
    height: 300px;
    float: right;
    text-align: justify;
    text-justify: inter-word;
    background-color: #ebebeb;
    color: #777;
}

.footy-divide{
    margin-top: 155px;
    height: 50px;
    color: #777;
}

footer{
    width: 960px;
    height: 25px;
    clear: both;
    background-color: #ebebeb;
    color: #777;
}

.footy{
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
    padding: 0px;
    clear: both;
}

#authenticity{
    font-family: 'Economica', sans-serif;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
    color: blue;
}